.breakout-area {
  display: flex;
  background-color: #ffffff;
  color: #000000;
}
.breakout-content {
  flex: 0 0 35%;
  padding: 35px;
}
.breakout-title {
  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-weight: bold;
}

.breakout-image {
  text-align: left;
}

.breakout-image img {
  flex: 1;
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 500px) {
  .breakout-image {
    display: none;
  }
  .breakout-content {
    flex: 0 0 90%;
    padding: 10px;
  }
}
